@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: none;
}
/* .first-part */
body{
    overflow: hidden;
}
.first-part{
    background-image: url("assets/bg-main-desktop.png");
    background-size:cover;
    background-position-x:-150px;
    background-position-y: 15%;
    height: 100vh;
    position: relative;
}
header{
    font-family: "IBM Plex Sans" ;
}
.equaliser{
    font-family:"IBM Plex Sans" ;
    padding-top: 3%;
    padding-left: 10%;
    font-weight: 900;
    font-size: 28px;
    color: black;
}

.makemusic{
    height: 70%;
    display:flex;
    justify-content: center;
    align-items: end;
}
.makemusic img{
    position: absolute;
    top: -45px;
    right:1px;
    width:22%;
}
.makemusic h2{
    font-size: 78px;
    width: 80%;
    line-height:0.9em;
    font-family:"IBM Plex Sans" ;
    font-weight: 700;
    margin-bottom: 5%;
}
.makemusic p{
    width:75%;
    font-size: 18px;
    font-family:"IBM Plex Sans" ;
    font-weight: 400;
    line-height: 2rem;
    color: #191826;
} 
.music-h2s{
    width:80%;
}
/* the second part */
.phone-section{
    border:2px solid red;
}
.dark-bg{
    border:2px solid green;

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .first-part{
        background-image: url("assets/bg-main-desktop.png");
        background-size:cover;
        background-position-x:-90px;
        background-position-y: -90px;
        height: 100vh;
        position: relative;
    }
    .equaliser{
        font-family:"IBM Plex Sans" ;
        padding-top: 6%;
        padding-left: 6%;
        font-weight: 900;
        font-size: 40px;
        color: black;
    }
    
    .makemusic{
        height: 70%;
        display: block;
    }
    .makemusic img{
        position: absolute;
        top: -1px;
        right:-25px;
        width:33%;
    }
    .makemusic h2{
        font-size: 68px;
        width: 70%;
        line-height:1em;
        font-family:"IBM Plex Sans" ;
        font-weight: 900;
        margin-bottom: 5%;

    }
    .makemusic p{
        width:75%;
        font-size: 20px;
        font-family:"IBM Plex Sans" ;
        font-weight: 400;
        line-height: 2rem;
        color: #191826;
    } 
    .music-h2s{
        width:100%;
        padding-left: 5%;
        margin-top: 12%;
    }
}
@media only screen and (min-width: 200px) and (max-width: 767px) and (orientation : portrait) {
    .first-part{
        background-image: url("assets/bg-main-desktop.png");
        background-size:cover;
        background-position: 90%;
        height: 100vh;
        position: relative;
    }
    .equaliser{
        font-family:"IBM Plex Sans" ;
        padding-top: 8%;
        padding-left: 6%;
        font-weight: 900;
        font-size: 38px;
        color: black;
    }
    .makemusic img{
        display:none;
        position: absolute;
        top: -45px;
        right:1px;
        width:22%;
    }
    .makemusic{
        height: 70%;
        display:block;
        /* border: 2px solid green; */
    }
    .makemusic h2{
        font-size: 43px;
        width: 95%;
        line-height:1.2em;
        font-family:"IBM Plex Sans" ;
        /* border:2px solid red; */
        font-weight: 800;
        margin-bottom: 9%;
    }
    .makemusic p{
        width:90%;
        font-size: 16px;
        font-family:"IBM Plex Sans" ;
        font-weight: 500;
        line-height: 2rem;
        color: #191826;
    } 
    .music-h2s{
        width:100%;
        padding-left: 5%;
        padding-right: 2%;
        margin-top: 15%;
    }
}