@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: none;
}
/* .first-part */
/* body{
    overflow: hidden;
} */
.first-part{
    background-image: url("assets/bg-main-desktop.png");
    background-size:cover;
    background-position-x:-150px;
    background-position-y: 15%;
    height: 100vh;
    position: relative;
}
header{
    font-family: "IBM Plex Sans" ;
}
.equaliser{
    font-family:"IBM Plex Sans" ;
    padding-top: 3%;
    padding-left: 10%;
    font-weight: 900;
    font-size: 28px;
    color: black;
}

.makemusic{
    height: 70%;
    display:flex;
    justify-content: center;
    align-items: end;
}
.makemusic img{
    position: absolute;
    top: -45px;
    right:1px;
    width:22%;
}
.makemusic h2{
    font-size: 78px;
    width: 80%;
    line-height:0.9em;
    font-family:"IBM Plex Sans" ;
    font-weight: 700;
    margin-bottom: 5%;
}
.makemusic p{
    width:75%;
    font-size: 18px;
    font-family:"IBM Plex Sans" ;
    font-weight: 400;
    line-height: 2rem;
    color: #191826;
} 
.music-h2s{
    width:80%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
}
@media only screen and (min-width: 200px) and (max-width: 767px) and (orientation : portrait) {

}