@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: none;
}
/* .first-part */
body{
    border:2px solid green;
}
.first-part{
    background-image: url("assets/bg-main-desktop.png");
    background-size:cover;
    background-position-x:-120px;
    background-position-y: 15%;
    height: 100vh;
    border: 2px solid red;
}
header{
    border:2px solid green;
    font-family: "IBM Plex Sans" ;
}